div {
    width: 200px;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
}

h1,h2 {
    color: red;
}

h1:hover{
    color:green;
    transition: background-color 2s;
}
h1:hover{
    background-color: yellow;
}